*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #ececec;
    font-family: Arial, sans-serif;
}
.d-flex{
    display: flex;
    flex-direction: row;
}
.d-flex-column{
    display: flex;
    flex-direction: column;
}
.justify-content-between{
    justify-content: space-between;
}
.container{
    background-color: #ffffff;
    min-width: 360px;
    max-width: 720px;
    margin: 0 auto;
}

/* ======== HEADER ======== */
.header{
    padding: 15px 21px;
}
.header img{
    position: relative;
    z-index: 1;
}
.title{
    position: relative;
    padding: 10px;
    width: 100%;
}
h1{
    color: #333333;
    font-weight: bold;
    font-size: 16px;
}
.header h3{
    padding: 7px 0;
    color: #808080;
    font-weight: 400;
    font-size: 12px;
}
.header p{
    position: absolute;
    z-index: 0;
    left: -40px;
    width: 96%;
    border-radius: 3px;
    padding: 12px 0;
    padding-left: 50px;
    background-color: #fffbc8;
    background-position: 0 0;
    border: 1px #cecabf solid;
    color: #333333;
    font-weight: 400;
    font-size: 14px;
}
/* ======== /HEADER ======== */


/* ======== SERVICES ======== */
.services{
    padding: 15px 21px;
    align-items: flex-end;
}
.services h2{
    padding-bottom: 10px;
    color: #333333;
    font-size: 13px;
    font-weight: 400;
    padding-right: 35px;
}
.services-list{
    width: 318px;
    height: 100%;
}
.services-list{
    padding: 15px 0;
    border-top: 1px #cccccc solid;
    border-bottom: 1px #cccccc solid;
}
.services-list_first,
.services-list_second,
.services-list_third{
    justify-content: space-between;
}
.services-list p{
    padding: 4px 0 5px 5px;
    border-bottom-right-radius: 2px;
    border-top-right-radius: 2px;
    font-size: 13px;
    font-weight: 400;
}
.services-list span{
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
    padding: 4px 43px 4px 0;
}
.services-list_first,
.services-list_second,
.services-list_third{
    border-left: 1px solid rgba(0, 0, 0, .3);
    -webkit-background-clip: padding-box; /* for Safari */
    background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.services-list_first p{
    background-image: url("img/bgg.png");
    background-repeat: no-repeat;
    padding-right: 85px;
    margin-bottom: 1px;
}
.services-list_second p{
    background-image: url("img/bg2.png");
    background-repeat: no-repeat;
    margin: 1px 0;
}
.services-list_third p{
    background-image: url("img/bg3.png");
    background-repeat: no-repeat;
    margin-top: 1px;
    margin-bottom: 0;
}
.services-bottom{
    width: 318px;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px 37px 10px 0;
}
/* /======== SERVICES ======== */


/* ========= COMMENTS ========= */
.comments{
    padding: 0 21px;
}
.comments-header{
    justify-content: space-between;
    align-items: baseline;
}
.comments-header a{
    font-size: 14px;
    color: #005da1;
    font-weight: 400;
}
.comments-header h4{
    font-size: 12px;
    color: #000000;
}
.comments-like:before{
    content: url(img/like.png);
    vertical-align: sub;
    padding-right: 3px;
}
.comments-comment:before{
    content: url(img/comment.png);
    vertical-align: sub;
    padding-right: 3px;
}
.comments_block{
    padding-top: 18px;
}
.comments_block-name{
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    display: inline-block;
}
.comments_block-date{
    color: #808080;
    font-size: 11px;
    font-weight: 400;
    display: inline-block;
}
.comments_block-text{
    word-wrap: break-word;
    color: #333333;
    font-size: 14px;
    font-weight: 400;
    padding: 16px 18px 12px 18px;
    background-color: #f2fbff;
    border: 1px #cfcfcf solid;
    margin-top: 15px;
    position: relative;
}
.comments_block-text:before {
    border: 12px solid transparent;
    position: absolute;
    top: -22px;
    width: 0;
    border-bottom: 10px solid #cfcfcf;
    border-left: 0 solid transparent;
    border-right: 10px solid transparent;
    left: 23px;
    content: '';
}
.comments_block-text:after {
    border: 12px solid transparent;
    position: absolute;
    top: -20px;
    width: 0;
    border-bottom: 10px solid #f2fbff;
    border-left: 0 solid transparent;
    border-right: 10px solid transparent;
    left: 24px;
    content: '';
}
/* ========= /COMMENTS ========= */


/* ========= FORM ========= */
.form{
    padding: 21px 15px;
    background-color: #f2f2f2;
    margin-top: 18px;

}
.form #massageText{
    border: 1px #a9a9a9 solid;
    display: block;
    box-sizing: border-box;
    width: 100%;
    min-height: 65px;
    padding: 15px;
}
.form input:focus{
    outline: none;
}
.form #btn{
    display: block;
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
    margin: 22px auto 0;
    font-size: 16px;
    width: auto;
    background-color: #fdd639;
    border-radius: 30px;
    padding: 12px 55px;
    border: none;
}
/* ========= /FORM ========= */